h1{
    text-align: center;
    color:crimson;
    text-decoration: underline;
}
form{
    text-align: center;
}
h2{
    text-align: center;
    color:rgb(252, 208, 155);
    text-decoration: underline;
}

nav{
    text-align: center;
    font-size: 30px;
}
button{
    width: 200px;
    margin: 0px;
}